/************************/
/*** CSS for timeline ***/
/************************/

/*** Tab content ***/
#timeline {
  padding-top: 30px;
  overflow: hidden;
}

/*** Timeset ***/
.timeset, 
.timeline {
  margin: 10px 0 0 0;
}

.timeset {
  width: 170px;
  padding-top: 15px !important;
  margin-right: 10px;
  text-align: right;
  float: left;
}

.timeset li {
  border-bottom: none !important;
  margin-bottom: 10px;
  padding: 5px 0 5px 0 !important;
}

/*** Timeline ***/
.timeline {
  width: 55px;
  list-style: none;
  padding: 0 0 20px;
  position: relative;
  float: left;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 15px;
  margin-left: -1.5px;
  height: 100%;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
  border-bottom: none !important;
  padding: 2px 0 2px 0 !important;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  /*width: 46%;*/
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 8px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
 /* top: 26px;*/
  right: -15px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-left: 11px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 11px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 9px;
  right: -14px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 25px;
  font-size: 1em;
  text-align: center;
  position: relative;
  /*
  left: 20%;
  top: 12px;
  margin-left: -15px;
  */
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline .glyphicon {
  top: 4px;
}

.timeline-top {
  margin-top: 0px;
  margin-bottom: 0 !important;
}

.timeline-bottom {
  margin-bottom: 0 !important;
}

.timeline-bottom .timeline-badge {
  background-color: #f0ad4e !important;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
