/*******************/
/*** CSS for map ***/
/*******************/


/*** Content ***/
.arup-mapa-container {
  padding: 0;
  position: relative;
}

#arup-map {
  background: url('../img/bg-content.jpg');
  height: 689px;
}


/*** Widget pane ***/
.arup-widget-pane {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1001;
}  
  

/*** Tabs ***/
.nav-tabs {
  float: right;
  border-bottom: 0;
  width:150px;
  background-color: #F5F5F5;
  height: 100%;
}

.nav-tabs li {
  float: none;
  margin: 0;
}

.nav-tabs li::after {
  border-top: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #fff !important;
  content: "";
  display: block;
}

.nav-tabs li a {
  padding: 15px;
  margin-right: 0;
  border-radius: 0;
/*  border-bottom: 1px solid #d9d9d9 !important;*/
}

.nav-tabs li a:hover {
  background-color: #EFEFEF;
}

.nav-tabs li input {
  margin: 0 3px;
  width: calc(50% - 10px);
  text-align: right;
  padding: 2px;
}

.nav-tabs li.active {
  background-color: #fff;
}


/*** Tab content ***/
.tab-content {
  float: right;
  height: 100%;
  -webkit-box-shadow: -15px 0 20px -15px gray;
  box-shadow: -10px 0 20px -15px gray;
}

.tab-content .tab-pane {
  display: none;
  background-color: #fff;
  padding: 10px 20px;
  overflow-y: auto;
  height: 100%;
}

.tab-content .active {
  display: block;
}

.tab-content .tab-pane ul li {
  border-bottom: 1px dotted silver;
  padding: 10px 0 10px 0;
}
.tab-content .tab-pane ul li span{
  cursor: pointer;
}

.tab-content #results ul li a {
  border-left: 3px solid #589CBD;
  padding-left: 10px;
  display: block;
}


/*** Active facet / tab ***/
.arup-facet-active > a {
  color: #37a2d4 !important;
  font-weight: bold;
}

/*** Facet ico ***/
.arup-facet-ico {
  margin-right: 5px;
  color: #BEBEBE;
}

.arup-nav-tabs > li.active > a,
.arup-nav-tabs > li.active > a:focus {
  font-weight: bold !important;
}

/*** Btn show / hide widget pane ***/
.arup-btn-hide-widget-pane {
  position: absolute;
  padding: 10px 5px;
  bottom: 200px;
  right: 0;
  background-color: #ffffff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #d9d9d9;
  border-right: 0;
 -webkit-box-shadow: -15px 0 10px -12px #333;
  box-shadow: -2px 0 8px -3px silver;
  color: #37a2d4;
  z-index: 1002;
}


/************************/
/**** MEDIA QUERIES ****/
/************************/

/*** Max 991 ***/
@media (max-width: 991px) {
  .arup-widget-pane {
    display: none; 
  }
}


.leaflet-container {
  background: rgba(0,0,0,.8) !important;
}

.leaflet-container img.img-popup{
    max-width: 100% !important;   
}