<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>$i18n.app.title</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Arup CSS -->
    <link href="css/arup.css" rel="stylesheet">
    
    <!-- Font CSS -->
    <link href="css/segoe-ui-normal.css" rel="stylesheet">
    <link href="css/segoe-ui-light.css" rel="stylesheet">
    <link href="css/segoe-ui-semibold.css" rel="stylesheet">
    <link href="css/segoe-ui-bold.css" rel="stylesheet">
    
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="js/underscore-min.js" type="text/javascript" ></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="js/arup.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:_dlc_DocId msdt:dt="string">KAAZ7N6DRQ4K-438874667-319</mso:_dlc_DocId>
    <mso:_dlc_DocIdItemGuid msdt:dt="string">e2404769-f718-40cc-a535-f560d1af2096</mso:_dlc_DocIdItemGuid>
    <mso:_dlc_DocIdUrl msdt:dt="string">https://sto365.sharepoint.com/sites/consulting/arup/_layouts/15/DocIdRedir.aspx?ID=KAAZ7N6DRQ4K-438874667-319, KAAZ7N6DRQ4K-438874667-319</mso:_dlc_DocIdUrl>
    </mso:CustomDocumentProperties>
    </xml><![endif]-->
</head>

  <body>
    <!-- Page container -->
    <div class="container arup-page-container">
      <!-- Wrapper -->
      <div class="arup-wrapper arup-bg-heatmap">
      
        #parse("header.vm")
        
        <!-- Container content -->
        <div class="container arup-content-container">
          <div class="col-md-12 arup-mg-bottom-30 arup-color-gray-pastel-dark">
            $texts.get('about.txt')
          </div>
        </div><!--/.container content -->
        
        <!-- Pusher for sticky footer -->
        <div class="arup-push"></div><!--/.pusher -->

      </div><!--/.wrapper -->
      
      #parse("footer.vm")
    
    </div><!--/.page container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
    <script>
      
      window.onload = function() {
        arup.init();
      };
    </script>
  </body>
</html>

