<!DOCTYPE html>
<html lang="en" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>$i18n.app.title</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Arup CSS -->
    <link href="css/arup.css" rel="stylesheet">
    
    <!-- Font CSS -->
    <link href="css/segoe-ui-normal.css" rel="stylesheet">
    <link href="css/segoe-ui-light.css" rel="stylesheet">
    <link href="css/segoe-ui-semibold.css" rel="stylesheet">
    <link href="css/segoe-ui-bold.css" rel="stylesheet">
    
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="js/underscore-min.js" type="text/javascript" ></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="js/heatmap.js"></script>
    <script src="js/leaflet-heatmap.js"></script>
    <script src="js/arup.js"></script>
    <script src="js/arup-home.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:_dlc_DocId msdt:dt="string">KAAZ7N6DRQ4K-438874667-319</mso:_dlc_DocId>
    <mso:_dlc_DocIdItemGuid msdt:dt="string">e2404769-f718-40cc-a535-f560d1af2096</mso:_dlc_DocIdItemGuid>
    <mso:_dlc_DocIdUrl msdt:dt="string">https://sto365.sharepoint.com/sites/consulting/arup/_layouts/15/DocIdRedir.aspx?ID=KAAZ7N6DRQ4K-438874667-319, KAAZ7N6DRQ4K-438874667-319</mso:_dlc_DocIdUrl>
    </mso:CustomDocumentProperties>
    </xml><![endif]-->
  </head>

  <body>
    <!-- Page container -->
    <div class="container arup-page-container arup-bg-black">
      <!-- Bg white -->
      <div class="arup-bg-white">
        
        #parse("header.vm")
        
        <!-- Container content -->
        <div class="container arup-content-container">

          <div class="col-md-12 arup-mg-bottom-30" id="home_found">
            Na dotaz '<span class="q">vykopavky</span>' bylo nalezeno celkem <strong>1 833</strong> záznamů.
          </div>
          <div class="col-md-12 arup-mg-bottom-30 arup-color-gray-pastel-dark" id="home_text">
            Tyto internetové stránky umožňují přístup k základním datům o jednotlivých archeobotanických výzkumech v České republice (autor botanického určení, archeologická  
            datace, typ lokality, počet analyzovaných semen/plodů, počet nalezených rostlinných taxonů). Aby byla zaručena ochrana dat jednotlivých autorů, jsou pro vyhledávání  
            podle taxonů (čeleď/rod/druh) dostupná pouze publikovaná data.  
          </div>
          <div class="col-md-4">
            <div class="arup-col-default" id="home_mapa">
              <h2 class="arup-color-blue">$i18n.menu.map<span> (<strong>456</strong> záznamů)</span></h2>
              <div class="res">
              </div>
                <button type="button" class="btn arup-clean-radius arup-color-white" onclick="arup.navigate('map');">$i18n.button.more</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="arup-col-default arup-col-zdroj">
              <h2 class="arup-color-pink">$i18n.menu.source</h2>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo ...
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo ...
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo ...
              </p>
              <p class="arup-clean-border-bottom">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo ...
              </p>
              <button type="button" class="btn arup-clean-radius arup-color-white">$i18n.button.more</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="arup-col-default arup-col-praxe">
              <h2 class="arup-color-orange">$i18n.menu.praxis</h2>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo ...
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo ...
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo ...
              </p>
              <p class="arup-clean-border-bottom">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo ...
              </p>
              <button type="button" class="btn arup-clean-radius arup-color-white">$i18n.button.more</button>
            </div>
          </div>
        </div><!--/.container content -->

        #parse("footer.vm")

      </div><!--/.bg white -->
    </div><!--/.page container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
    <script>
      
      window.onload = function() {
        arup.init();
        arup.current = arup.HOME.init();
      };
    </script>
  </body>
</html>

