<!DOCTYPE html>
<html lang="en" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>$i18n.app.title</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Arup CSS -->
    <link href="css/arup.css" rel="stylesheet">
    <link href="css/arup-mapa.css" rel="stylesheet">
    <link href="css/arup-mapa-timeline.css" rel="stylesheet">
    
    <!-- Font CSS -->
    <link href="css/segoe-ui-normal.css" rel="stylesheet">
    <link href="css/segoe-ui-light.css" rel="stylesheet">
    <link href="css/segoe-ui-semibold.css" rel="stylesheet">
    <link href="css/segoe-ui-bold.css" rel="stylesheet">
    
    
    <link rel="stylesheet" href="css/leaflet.css" />
    <script src="js/underscore-min.js" type="text/javascript" ></script>



    <script src="js/leaflet-src.js"></script>
    <script src="js/heatmap.js"></script>
    <script src="js/leaflet-heatmap.js"></script>

<script src='js/Leaflet.fullscreen.js'></script>
<link href='css/leaflet.fullscreen.css' rel='stylesheet' />


    <script src="js/arup.js"></script>
    <script src="js/arup-heatmap.js"></script>
    <script src="js/arup-timeline.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:_dlc_DocId msdt:dt="string">KAAZ7N6DRQ4K-438874667-319</mso:_dlc_DocId>
    <mso:_dlc_DocIdItemGuid msdt:dt="string">e2404769-f718-40cc-a535-f560d1af2096</mso:_dlc_DocIdItemGuid>
    <mso:_dlc_DocIdUrl msdt:dt="string">https://sto365.sharepoint.com/sites/consulting/arup/_layouts/15/DocIdRedir.aspx?ID=KAAZ7N6DRQ4K-438874667-319, KAAZ7N6DRQ4K-438874667-319</mso:_dlc_DocIdUrl>
    </mso:CustomDocumentProperties>
    </xml><![endif]-->
  </head>

  <body>
    <!-- Page container -->
    <div class="container arup-page-container arup-bg-black">
      <!-- Bg white -->
      <div class="arup-bg-white" style="height: 100%;">
      
        #parse("header.vm")

        <!-- Container mapa -->
        <div class="container arup-mapa-container">
          <!-- Map -->
          <div class="col-md-12" id="arup-map" style="padding:0;margin:0;">
            <div id="map" style="height: 100%;"></div>
          </div><!--/.map -->

          <!-- Tabs -->
          <div class="arup-widget-pane arup-color-gray-dark" id="facets_pane">
            <ul class="nav nav-tabs arup-nav-tabs arup-clean-border" id="facets">
              <li class="results"><a href="#results" data-toggle="tab">$i18n.results</a></li>
              <li class="facet" data-field="database" data-label="$i18n.facet.database"><a href="#database" data-toggle="tab">$i18n.facet.database</a></li>
              <li class="facet" data-field="Type_area" data-label="$i18n.facet.activity"><a href="#Type_area" data-toggle="tab">$i18n.facet.activity</a></li>
              <li class="facet" data-field="Type_site" data-label="$i18n.facet.loc"><a href="#Type_site" data-toggle="tab">$i18n.facet.loc</a></li>
              <li class="active"><a href="#timeline" data-toggle="tab">
                        $i18n.timeline
                </a>
                <input type="text" id="tlOd" />-<input type="text"  id="tlDo" />
                </li>
            </ul>
            <div class="tab-content" style="width: 300px;">
              <div class="tab-pane" id="results">
                <ul class="list-unstyled">
                </ul>
              </div>
              <div class="tab-pane" id="database">
                <ul class="list-unstyled">
                </ul>
              </div>
              <div class="tab-pane" id="Type_site">
                <ul class="list-unstyled">
                </ul>
              </div>
              <div class="tab-pane" id="Type_area">
                <ul class="list-unstyled">
                </ul>
              </div>
              <!-- Timeline -->
              #parse("timeline.vm")
              <!--/.timeline -->
            </div><!--/.tab-content -->
          </div><!--/.tabs -->


          <!-- Btn show/hide widget pane -->
          <button class="btn arup-btn-hide-widget-pane" id="facets_btn">
              <i class="glyphicon glyphicon-menu-right"></i>
          </button><!--/.Btn show/hide widget pane -->

        </div><!--/.container mapa -->

        #parse("footer.vm")

      </div><!--/.bg white -->
    </div><!--/.page container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
    <script>
      
      // show / hide widget pane
      $(".arup-btn-hide-widget-pane").on('click',function(){
        $(".arup-widget-pane").toggle();
        $("i",this).toggleClass("glyphicon-menu-left glyphicon-menu-right");
      });

      window.onload = function() {
        arup.init();
        arup.current = arup.MAP.create();
        arup.TIMELINE.init();
      };
    </script>
  </body>
</html>

