<!DOCTYPE html>
<html lang="en" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Archeologie Online</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Arup CSS -->
    <link href="css/arup.css" rel="stylesheet">
    <link href="css/arup-zdroje.css" rel="stylesheet"><!-- page css -->
    
    <!-- Font CSS -->
    <link href="css/segoe-ui-normal.css" rel="stylesheet">
    <link href="css/segoe-ui-light.css" rel="stylesheet">
    <link href="css/segoe-ui-semibold.css" rel="stylesheet">
    <link href="css/segoe-ui-bold.css" rel="stylesheet">


    <script src="js/underscore-min.js" type="text/javascript" ></script>
    <script src="js/arup.js"></script>
    <script src="js/arup-source.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:_dlc_DocId msdt:dt="string">KAAZ7N6DRQ4K-438874667-367</mso:_dlc_DocId>
    <mso:_dlc_DocIdItemGuid msdt:dt="string">e740a008-ff16-4e98-a710-132194b2e573</mso:_dlc_DocIdItemGuid>
    <mso:_dlc_DocIdUrl msdt:dt="string">https://sto365.sharepoint.com/sites/consulting/arup/_layouts/15/DocIdRedir.aspx?ID=KAAZ7N6DRQ4K-438874667-367, KAAZ7N6DRQ4K-438874667-367</mso:_dlc_DocIdUrl>
    </mso:CustomDocumentProperties>
    </xml><![endif]-->
</head>

  <body>
    <!-- Page container -->
    <div class="container arup-page-container">
      <!-- Wrapper -->
      <div class="arup-wrapper arup-bg-heatmap">
      
        #parse("header.vm")

        <!-- Container content -->
        <div class="container arup-content-container" id="results">
        </div><!--/.container content -->

        <!-- Pusher for sticky footer -->
        <div class="arup-push"></div><!--/.pusher -->

      </div><!--/.wrapper -->

      #parse("footer.vm")
      
    </div><!--/.page container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
    <!-- Custom js -->
    <script type="text/javascript">
      function toggleItem(itemId, icoId) {
        $("#"+itemId).toggle();
        $("#"+icoId).toggleClass("glyphicon-plus glyphicon-minus");
      }

      window.onload = function() {
        arup.init();
        arup.current = arup.SOURCE.init();
      };
    </script>
  </body>
</html>
